<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bikcraft</title>
    <!-- Integrar o CSS com o HTML -->
    <link rel="stylesheet" href="./styles.css">
</head>
<body>    
    <header>
        <img 
            src="https://www.origamid.com/projetos/bikcraft/img/bikcraft.svg"
            alt="Logo da Bikcraft">

        <nav>
            <a href="#">Bicicletas</a>
            <a href="#">Seguros</a>
            <a href="#">Contato</a>
        </nav>
    </header>

    <section class="hero">
        <div class="coluna1">
            <div class="introducao">
                <h1>Bicicletas feitas sob medida<span class="cor-destaque">.</span></h1>
                <p>Bicicletas elétricas de alta precisão e qualidade, feitas sob medida para você. Explore o mundo na sua velocidade com a Bikcraft.</p>
                <button class="btn-escolha">ESCOLHA A SUA</button>
            </div>
        </div>
        <div class="coluna2">
            <img 
                class="foto-introducao"
                src="https://www.origamid.com/projetos/bikcraft/img/fotos/introducao.jpg"
                alt="Foto de uma bicicleta">
        </div>
        <!-- 2 colunas (1 textual | imagem) -->
         <!-- 
        pai -> flex row (horizontal)
         filho1 (coluna 50%)
         filho2 (coluna 50%)
         -->
    </section>
</body>
</html>