<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Bikcraft</title>

     <!-- Integrar o CSS com o HTML -->
    <link rel="stylesheet" href="./styles.css">

</head>
<body>
    <header>
        <h1>CABEÇALHO</h1>
        <nav>
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </nav>
    </header>

    <main>
        <div class="coluna1"></div>
        <div class="coluna2"></div>
    </main>

    <footer>
        <p class="texto-rodape">rodapé 2026</p>
    </footer>
</body>
</html>